@charset "utf-8";
/*
body {
	line-height: 25px;
	letter-spacing: 1px;
}
*/
.chapter {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	background-color: window;
	text-align: center;
}
.cursive-blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: blue;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
	

}
.cursive-maroon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: maroon;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;

}

.cursive-red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: red;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;

}

  ul#navigation li {
    list-style-type: none;
    display: block;
    width: 6em;
    float: left;
    text-align: center;
    font-family: "Lucida Grande", sans-serif;
    height: 4.1em;
    color: inherit;
    background-color: red;
    padding : 10px 1px 0 1px;
}
  ul#navigation li a.x {
    display: block;
    padding: 0.8em .3em 1.5em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li a.xx {
    display: block;
    padding: 0.8em .3em 0.35em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li:first-child {
    -webkit-border-top-left-radius: .5em;
    -moz-border-radius-topleft: .5em;
    border-top-left-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
    -moz-border-radius-bottomleft: .5em;
    border-bottom-left-radius: .5em;
}

/*And similarly for the last child list item*/

  ul#navigation li:last-child {
    -webkit-border-top-right-radius: .5em;
    -moz-border-radius-topright: .5em;
    border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: .5em;
    -moz-border-radius-bottomright: .5em;
  border-bottom-right-radius: .5em;
}

    #navigation li:hover {
    background-color: blue;
    color: green;
    
}

.title-center {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
}

.verticalTab-5 {
	padding: 5px 0 0 0;
}
.verticalTab-10 {
	padding: 10px 0 0 0;
}
.verticalTab-25 {
	padding: 25px 0 0 0;
}
.verticalTab-50 {
	padding: 50px 0 0 0;
}

.verticalTab-75 {
	padding: 75px 0 0 0;
}

.verticalTab-100 {
	padding: 100px 0 0 0;
}
.pl-10 {
	padding-left: 10px;
}
.pl-25 {
	padding-left: 25px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-75 {
	padding-left: 75px;
}
.pl-100 {
	padding-left: 100px;
}
.pl-125 {
	padding-left: 125px;
}
.pl-150 {
	padding-left: 150px;
}
.pl-175 {
	padding-left: 175px;
}
.pl-200 {
	padding-left: 200px;
}
.pl-225 {
	padding-left: 225px;
}
.pl-250 {
	padding-left: 250px;
}
.pl-300 {
	padding-left: 300px;
}
.pl-400 {
	padding-left: 400px;
}
.pl-500 {
	padding-left: 500px;
}
.pl-600 {
	padding-left: 600px;
}

.indent {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	text-indent: 20px;
	padding: 0px 10px 0px 10px;}

