@charset "utf-8";

/* CSS Document */
p {
  padding: 5px 10px 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  color: black;
  text-decoration: none;
}

body {
  background-color: #fff;
}

p img {
  vertical-align: middle;
  border-style: none;
}

p b, li b {
  font-weight : bold;
}

p i, li i {
  font-style : italic;
}

p u, li u {
  text-decoration : underline;
}

p so, li so {
  text-decoration : line-through;
}

p sub, p sub {
  font-size : 70%;
  vertical-align: sub;
}

p sup, p sup {
  font-size : 70%;
  vertical-align: super;
}

ul {
  padding-left : 2em; /* for mozilla list marker box */
  ;
  margin-left : 0;   /* for IE list marker box */
}

ol {
  padding-left : 2em; /* for mozilla list marker box */
  ;
  margin-right : -0.5em;
  margin-left : 0;   /* for IE list marker box */
}

p.Style1, li.Style1 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  ;
  font-size: 13.26315789473684pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}

p.Style2, li.Style2 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  list-style-type: disc;
  font-family: 'Segoe UI', sans-serif;
  ;
  font-size: 13.26315789473684pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}

p.Style3, li.Style3 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-weight: bold;
  color: #000080;
  text-decoration: underline;
  font-family: 'Segoe UI', sans-serif;
  ;
  font-size: 13.26315789473684pt;
  font-style: normal;
  vertical-align: baseline;
}

p.Style4, li.Style4 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Segoe UI Semibold', sans-serif;
  ;
  font-size: 19.25925925925926pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  color: #800080;
}

p.Style5, li.Style5 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Segoe UI Semibold', sans-serif;
  ;
  font-size: 19.25925925925926pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  color: #008080;
}

p.Style6, li.Style6 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Segoe UI Semibold', sans-serif;
  ;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  color: #808000;
}

p.Style7, li.Style7 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Courier', sans-serif;
  ;
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;
  vertical-align: baseline;
}

p.Style8, li.Style8 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  list-style-type: decimal;
  font-family: 'Segoe UI', sans-serif;
  ;
  font-size: 13.26315789473684pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}

p.Style9, li.Style9 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: left;
  font-family: 'Courier', sans-serif;
  ;
  font-size: 13pt;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}

.auto-style1 {
  background-color: #FFFFFF;
}

img {
  border-style: none;
}
