vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Dec 2014 21:51:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PEGASUS\\bedri_000
vti_modifiedby:SR|ASUS\\bedri
vti_timecreated:TR|16 Dec 2014 21:51:21 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|16 Dec 2014 21:51:22 -0000
vti_filesize:IR|3181
vti_cachedlinkinfo:VX|S|../images/colorpicker_background.png S|../images/colorpicker_overlay.png S|../images/colorpicker_select.gif S|../images/colorpicker_indic.gif S|../images/colorpicker_hex.png S|../images/colorpicker_rgb_r.png S|../images/colorpicker_rgb_g.png S|../images/colorpicker_rgb_b.png S|../images/colorpicker_hsb_h.png S|../images/colorpicker_hsb_s.png S|../images/colorpicker_hsb_b.png S|../images/colorpicker_submit.png
vti_cachedsvcrellinks:VX|NSUS|algebra/SAGE/images/colorpicker_background.png NSUS|algebra/SAGE/images/colorpicker_overlay.png NSUS|algebra/SAGE/images/colorpicker_select.gif NSUS|algebra/SAGE/images/colorpicker_indic.gif NSUS|algebra/SAGE/images/colorpicker_hex.png NSUS|algebra/SAGE/images/colorpicker_rgb_r.png NSUS|algebra/SAGE/images/colorpicker_rgb_g.png NSUS|algebra/SAGE/images/colorpicker_rgb_b.png NSUS|algebra/SAGE/images/colorpicker_hsb_h.png NSUS|algebra/SAGE/images/colorpicker_hsb_s.png NSUS|algebra/SAGE/images/colorpicker_hsb_b.png NSUS|algebra/SAGE/images/colorpicker_submit.png
