vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Dec 2014 21:51:19 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PEGASUS\\bedri_000
vti_modifiedby:SR|PEGASUS\\bedri_000
vti_timecreated:TR|16 Dec 2014 21:51:19 -0000
vti_cacheddtm:TX|16 Dec 2014 21:51:19 -0000
vti_filesize:IR|1362
vti_cachedlinkinfo:VX|S|wheel.png S|mask.png S|marker.png
vti_cachedsvcrellinks:VX|NSUS|algebra/SAGE/testingbde1\\ --\\ Sage_files/wheel.png NSUS|algebra/SAGE/testingbde1\\ --\\ Sage_files/mask.png NSUS|algebra/SAGE/testingbde1\\ --\\ Sage_files/marker.png
vti_backlinkinfo:VX|
