*.nb binary
*.cdf binary
*.pdf binary
*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.docx binary
*.vsdx binary
*.xps binary
*.psd binary
*.mcdx binary
*.mctx binary
*.nc binary
*.ico binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
