@charset "utf-8";
/* CSS Document */
/* Original JSStyle.css */
/* body Selectors */
/* anchor Selectors */
a:link, a:visited {
	color: blue;
	background-color: window;
}
a:hover {
	color: red;
	background-color: window;
}
a:active {
	color: green;
	background-color: window;
}
a:focus {
	color: lime;
	background-color: window;
}
.att {
	color: #6600CC;
	background-color: Window;
}
.att-50 {
	color: #6600CC;
	background-color: Window;
	padding-left: 50px;
}
.att-75 {
	color: #6600CC;
	background-color: Window;
	padding-left: 75px;
}
.att-100 {
	color: #6600CC;
	background-color: Window;
	padding-left: 100px;
}
.att-125 {
	color: #6600CC;
	background-color: Window;
	padding-left: 125px;
}
.att-165 {
	color: #6600CC;
	background-color: Window;
	padding-left: 165px;
}
.att-200 {
	color: #6600CC;
	background-color: Window;
	padding-left: 200px;
}
.att-400 {
	color: #6600CC;
	background-color: Window;
	padding-left: 400px;
}
.att-450 {
	color: #6600CC;
	background-color: Window;
	padding-left: 460px;
}
.att-480 {
	color: #6600CC;
	background-color: Window;
	padding-left: 480px;
}
.blue {
	color: blue;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}



caption.captionred {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
	padding: 2% 2% 2% 2%;
	color: red;
	background-color: window;
}
.chapter {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	background-color: window;
	text-align: center;
}
col {
	border: 1px solid navy;
}
.cursive-blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: italic;
	color: blue;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.cursive-maroon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: italic;
	color: maroon;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}
#center-navlist a, #center-navlist a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: white;
	background-color: #6666CC;
	text-decoration: none;
}
#center-navlist a:hover {
	color: navy;
	background-color: #FF9966;
	text-decoration: none;
}
#center-button a, #center-button a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: white;
	background-color: #6666CC;
	text-decoration: none;
}
#center-button a:hover {
	color: navy;
	background-color: #FF9966;
	text-decoration: none;
}
.comm {
	color: #008000;
	background-color: Window;
}
.comm-25 {
	color: #008000;
	background-color: Window;
	padding-left: 25px;
}
.comm-50 {
	color: #008000;
	background-color: Window;
	padding-left: 50px;
}
.comm-75 {
	color: #008000;
	background-color: Window;
	padding-left: 75px;
}
.comm-100 {
	color: #008000;
	background-color: Window;
	padding-left: 100px;
}
.comm-125 {
	color: #008000;
	background-color: Window;
	padding-left: 125px;
}
.comm-150 {
	color: #008000;
	background-color: Window;
	padding-left: 150px;
}
.cursive-red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: italic;
	color: red;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}
.cursive-green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: italic;
	color: green;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}
dd, dl {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-bottom: 5px;
}
div.navtop {
	position: absolute;
	top: 17px;
	right: 10px;
}
div.navtop-twobuttons {
	position: absolute;
	top: 10px;
	right: 3px;
}
.elm {
	color: #900;
	background-color: Window;
}
.elm-25 {
	color: #900;
	background-color: Window;
	padding-left: 25px;
}
.elm-50 {
	color: #900;
	background-color: Window;
	padding-left: 50px;
}
.elm-75 {
	color: #900;
	background-color: Window;
	padding-left: 75px;
}
.elm-100 {
	color: #900;
	background-color: Window;
	padding-left: 100px;
}
.Examples-Maroon {
	color: maroon;
	background-color: Window;
	font-family: "Courier New", monospace;
	font-size: 105%;
	/*line-height: 122%;*/
	margin-left: 3.4em;
	margin-bottom: 0.6em text-align: justify;
	padding: 0px 10px 0px 10px;
}
.forward {
	border: none;
	position: absolute;
	left : 60%;
	top: 60%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: navy;
}
.green {
	color: green;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.headline-1 {
	font-family: cursive, sans-serif;
	font-weight: bold;
	color: red;
	position: relative;
	left: 250px;
	font-size: 30px;
	top: 10px;
	width: 350px;
	background-color: Window;
}
.home {
	border: none;
	position: absolute;
	left : -17%;
	top: 60%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: navy;
}
img {
	border: none;
}
img.banner {
	border: none;
	width: 173px;
	height: 40px;
}
img.navpad {
	width: 40px;
	height: 40px;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
}
.indent {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	text-indent: 20px;
	padding: 0px 10px 0px 10px;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
input.erase {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 17px;
}
input.save {
	background-color: green;
	color: white;
	text-align: center;
	font-size: 17px;
}
.keyw {
	color: #06F;
	background-color: Window;
}
.keyw-10 {
	color: #06F;
	background-color: Window;
	padding-left: 10px;
}
.keyw-25 {
	color: #06F;
	background-color: Window;
	padding-left: 25px;
}
.keyw-50 {
	color: #06F;
	background-color: Window;
	padding-left: 50px;
}
.keyw-55 {
	color: #06F;
	background-color: Window;
	padding-left: 55px;
}
.keyw-60 {
	color: #06F;
	background-color: Window;
	padding-left: 60px;
}
.keyw-65 {
	color: #06F;
	background-color: Window;
	padding-left: 65px;
}

.keyw-70 {
	color: #06F;
	background-color: Window;
	padding-left: 70px;
}


.keyw-75 {
	color: #06F;
	background-color: Window;
	padding-left: 75px;
}
.keyw-100 {
	color: #06F;
	background-color: Window;
	padding-left: 100px;
}
.keyw-125 {
	color: #06F;
	background-color: Window;
	padding-left: 125px;
}
.keyw-165 {
	color: #06F;
	background-color: Window;
	padding-left: 165px;
}
.keyw-150 {
	color: #06F;
	background-color: Window;
	padding-left: 150px;
}
.keyw-175 {
	color: #06F;
	background-color: Window;
	padding-left: 175px;
}
.keyw-200 {
	color: #06F;
	background-color: Window;
	padding-left: 200px;
}
.keyw-225 {
	color: #06F;
	background-color: Window;
	padding-left: 225px;
}
li {
	padding: 5px;
}
.maroon {
	color: maroon;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}

.maroon-left {
	color: maroon;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 0px 0px 0px;
}

.nonindent {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.navy {
	color: blue;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
#navbottom a, #navbottom a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: #FFFFCE;
	background-color: #488649;
	text-decoration: none;
}
#navbottom a:hover {
	color: #468649;
	background-color: #D1EAD3;
	text-decoration: none;
}
img.nextpage {
	border: none;
	position: relative;
	top: 35px;
	left: 60%;
	width: 40px;
	height: 40px;
}
.option2 {
	position: relative;
	left: 300px;
	background-color: blue;
	color: white;
	border: 3px groove aqua;
	font-size: 22px;
}
.op {
	color: #900;
	background-color: Window;
}
.op-5 {
	color: #900;
	background-color: Window;
	padding-left: 5px;
}
.op-25 {
	color: #900;
	background-color: Window;
	padding-left: 25px;
}
.op-50 {
	color: #900;
	background-color: Window;
	padding-left: 50px;
}
.op-75 {
	color: #900;
	background-color: Window;
	padding-left: 75px;
}
.op-100 {
	color: #900;
	background-color: Window;
	padding-left: 100px;
}
.op-125 {
	color: #900;
	background-color: Window;
	padding-left: 125px;
}
.op-150 {
	color: #900;
	background-color: Window;
	padding-left: 150px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-25 {
	padding-left: 25px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-75 {
	padding-left: 75px;
}
.pl-100 {
	padding-left: 100px;
}
.pl-125 {
	padding-left: 125px;
}
.pl-150 {
	padding-left: 150px;
}
.pl-175 {
	padding-left: 175px;
}
.pl-200 {
	padding-left: 200px;
}
.pl-225 {
	padding-left: 225px;
}
.pl-250 {
	padding-left: 250px;
}
.pl-300 {
	padding-left: 300px;
}
.pl-400 {
	padding-left: 400px;
}
.pl-500 {
	padding-left: 500px;
}
.pl-600 {
	padding-left: 600px;
}

.pl-700 {
	padding-left: 700px;
}

.pl-800 {
	padding-left: 800px;
}


pre {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding: 0px 10px 0px 10px;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.pagenum {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: purple;
	background-color: window;
	text-align: right;
	padding-right: 10px;
}
.pagecenter {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
	padding: 0px 10px 0px 10px;/* margin:      10px; */
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.red {
	color: red;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: justify;
	padding: 0px 10px 0px 10px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.str {
	color: #FF6633;
	background-color: Window;
}
.str-25 {
	color: #FF6633;
	background-color: Window;
	padding-left: 25px;
}
.str-50 {
	color: #FF6633;
	background-color: Window;
	padding-left: 50px;
}
.str-75 {
	color: #FF6633;
	background-color: Window;
	padding-left: 75px;
}
.str-100 {
	color: #FF6633;
	background-color: Window;
	padding-left: 100px;
}
.str-200 {
	color: #FF6633;
	background-color: Window;
	padding-left: 200px;
}
.subsub {
	color: blue;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	padding: 0px 10px 0px 30px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}

.subsubsub {
	color:blueviolet;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
	padding: 0px 10px 0px 30px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}

.subheading {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #B43501;
	text-align: left;
	background-color: window;
	padding: 0px 10px 0px 30px;
	/*line-height: 25px;
	letter-spacing: 1px; */
}
table.layout-top {
	border: none;
	text-align: center;
	padding-right: 1%;
}
table.table-x {
	position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	border-collapse: collapse;
	empty-cells: show;
	table-layout: fixed;
	/*width: 70%;*/
	left : 250px;
}

table.table1 {
	position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	border-collapse: collapse;
	empty-cells: show;
	table-layout: fixed;
	width: 70%;
	left : 250px;
}
table.table2 {
	border-collapse: collapse;
	position: relative;
	left: 10%;
	width: 80%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	empty-cells: show;
	table-layout: fixed;
	display: table-cell;
}
table.table3 {
	border-collapse: collapse;
	position: relative;
	left: 20%;
	width: 50%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	empty-cells: show;
	table-layout: fixed;
}
table.table4 {
	border-collapse: collapse;
	position: relative;
	left: 5%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	empty-cells: show;
	table-layout: fixed;
	width: 90%;
	display: table-cell;
}

table.p17table2 {
	border-collapse: collapse;
	position: relative;
	left: 5%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 3px solid navy;
	empty-cells: show;
	table-layout:fixed;
	width: 100%;
	display: table-cell;
}
table.diziTablo {
	width: 250px;
	font: 17px Verdana;
	margin: 0 0 25px 200px;
}

td.top1text {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: red;
	text-align: center;
	background-color: window;
	width: 75%;
}
td.top1previous {
	text-align: center;
	width: 15%;
}
td.top2text {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	color: red;
	background-color: window;
	padding-left: 2%;
	padding-right: 10%;
	vertical-align: top;
}
td.top2previous {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: blue;
	background-color: window;
}
td.top3text {
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	color: navy;
	background-color: window;
	padding-left: 2%;
	padding-right: 10%;
	vertical-align: top;
}
td.diziTabloRed {
	color: red;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: left;
}
td.diziTabloGreen {
	color: green;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: right;
}
td.diziTabloMaroon {
	color: maroon;
	background-color: Window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
}
.title {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.title-left {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	padding: 20px 0px 20px 30px;
	font-weight: bold;
	
	/*line-height: 25px;
	letter-spacing: 1px; */
}
.title-center {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	/*line-height: 25px;
	letter-spacing: 1px; */
}
#topnavlist1 a, #topnavlist1 a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: white;
	background-color: #FF6347;
	text-decoration: none;
}
#topnavlist1 a:hover {
	color: white;
	background-color: blue;
	text-decoration: none;
}
#topnavlist2 a, #topnavlist2 a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: white;
	background-color: #FF6347;
	text-decoration: none;
}
#topnavlist2 a:hover {
	color: white;
	background-color: blue;
	text-decoration: none;
}
tr.highline {
	border: 1px solid;
	line-height: 2em;
	font-size: 17px;
	color: navy;
	text-align: center;
	background-color: window;
}
tr.tbline {
	border: 1px solid;
	text-align: left;
	line-height: 2em;
	font-size: 17px;
	color: black;
	background-color: window;
}
tr.color1 {
	background-color: #A6CAF0;
	color: navy;
}
tr.color2 {
	background-color: #FF9966;
	color: navy;
}
tr.color3 {
	background-color: #FFCCFF;
	color: navy;
}
tr.color4 {
	background-color: #CCFFFF;
	color: navy;
}
tr.color5 {
	background-color: #FFFFCC;
	color: navy;
}
tr.color6 {
	background-color: #99FFCC;
	color: navy;
}
tr.color7 {
	background-color: #E6E6E6;
	color: navy;
}
tr.color8 {
	background-color: #FFBC3D;
	color: black;
}
tr.color9 {
	background-color: #DDDDDD;
	color: black;
}
tr.diziTabloTr {
	color: navy;
	background-color: window;
}
ul#navbottom {
	list-style-type: none;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}
ul#navbottom li#index {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#page {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#coding {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#balance {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#balance1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#navbottom-ending {
	background-color: Window;
	padding: 7px 0px 7px 0px;
	color: black;
	float: none;
}
ul#topnavlist1 {
	list-style-type: none;
	left: 10px;
	padding-bottom: 20px;
}
ul#topnavlist1 li#first {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#topnavlist1 li#middle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
	float: left;
}
ul#topnavlist1 li#end {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
	float: left;
}
ul#topnavlist1 li#jump1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 5px;
	float: left;
}
ul#topnavlist1 li#jump2 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 5px;
	float: left;
}
ul#topnavlist1 li#topnavlist1-ending {
	padding: 7px 10px 7px 10px;
	background-color: Window;
	color: black;
	float: none;
}
ul#topnavlist2 {
	list-style-type: none;
	left: 10px;
	padding-bottom: 20px;
}
ul#topnavlist2 li#primary {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
	float: left;
}
ul#topnavlist2 li#secondly {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
	float: left;
}
ul#topnavlist2 li#last {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 10px 7px 10px;
	float: left;
}
ul#topnavlist2 li#jump1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 8px;
	float: left;
}
ul#topnavlist2 li#jump2 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 5px;
	float: left;
}
ul#topnavlist2 li#topnavlist2-ending {
	padding: 7px 10px 7px 10px;
	background-color: Window;
	color: black;
	float: none;
}
ul#center-navlist {
	list-style-type: none;
	position: relative;
	padding-left: 375px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul#center-navlist li {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#center-navlist li#gap {
	/* Adjust the gap here */
    padding-left: 50px;
	float: left;
}
ul#center-navlist li#cn-finalizing {
	padding: 7px 10px 7px 10px;
	background-color: Window;
	color: black;
	float: none;
}
ul.list {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding-bottom: 10px;
	line-height: 20px;
}
ul.listNoMarker {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding-bottom: 10px;
	line-height: 20px;
	list-style: none;
}
ul#center-button {
	list-style-type: none;
	padding-top: 10px;
}
ul#center-button li#one {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* font-weight: normal; */ /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 250px;
}
ul#center-button li#two {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 17px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
	float: left;
}
ul#center-button li#border {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 50px;
	float: left;
}
ul#center-button li#cb-finalizing {
	padding: 7px 10px 7px 10px;
	background-color: Window;
	color: black;
	float: none;
}
.verticalTab-5 {
	padding: 5px 0 0 0;
}
.verticalTab-10 {
	padding: 10px 0 0 0;
}
.verticalTab-25 {
	padding: 25px 0 0 0;
}
.verticalTab-50 {
	padding: 50px 0 0 0;
}
.verticalTab-75 {
	padding: 75px 0 0 0;
}

.verticalTab-100 {
	padding: 100px 0 0 0;
}
/* css tabs */
ul#navbottom {
	list-style-type: none;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}
ul#navbottom li#index {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#sayfa {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama1 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama2 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama3 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#denge {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge2 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge3 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#navbottom-sonlama {
	background-color: Window;
	padding: 7px 0px 7px 0px;
	color: black;
	float: none;
}
#navbottom a, #navbottom a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: #FFFFCE;
	background-color: #488649;
	text-decoration: none;
}
#navbottom a:hover {
	color: #468649;
	background-color: #D1EAD3;
	text-decoration: none;
}


  ul#navigation li {
    list-style-type: none;
    display: block;
    width: 6em;
    float: left;
    text-align: center;
    font-family: "Lucida Grande", sans-serif;
    height: 4.1em;
    color: inherit;
    background-color: red;
    padding : 10px 1px 0 1px;
    line-height: normal !important;
    letter-spacing:normal !important;
    
}
  ul#navigation li a.x {
    display: block;
    padding: 0.8em .3em 1.5em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li a.xx {
    display: block;
    padding: 0.8em .3em 0.35em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li:first-child {
    -webkit-border-top-left-radius: .5em;
    -moz-border-radius-topleft: .5em;
    border-top-left-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
    -moz-border-radius-bottomleft: .5em;
    border-bottom-left-radius: .5em;
}

/*And similarly for the last child list item*/

  ul#navigation li:last-child {
    -webkit-border-top-right-radius: .5em;
    -moz-border-radius-topright: .5em;
    border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: .5em;
    -moz-border-radius-bottomright: .5em;
  border-bottom-right-radius: .5em;
}

    #navigation li:hover {
    background-color:blue;
    color: green;
    
}

.title-center {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
}

li.position1 {
	background-color: transparent;
	color: red;
	font: 110% Verdana, Helvetica, Arial, sans-serif;
	margin: 0% 0% 0.5% 8%;
	list-style-type: disc;
}
li.position2 {
	background-color: transparent;
	color: blue;
	font: 105% Verdana, Helvetica, Arial, sans-serif;
	margin: 0% 0% 0.5% 10%;
	list-style-type: disc;
}
li.position3 {
	background-color: transparent;
	color: green;
	font: 100% Verdana, Helvetica, Arial, sans-serif;
	margin: 0% 0% 0.5% 12%;
	list-style-type: square;
}
li.position4 {
	background-color: transparent;
	color: maroon;
	font: 95% Verdana, Helvetica, Arial, sans-serif;
	margin: 0% 0% 0.5% 14%;
	list-style-type: disc;
}
li.position5 {
	background-color: transparent;
	color: indianred;
	font: 85% Verdana, Helvetica, Arial, sans-serif;
	margin: 0% 0% 0.5% 16%;
	list-style-type: square;
}
.CSS_Table_Example {
	margin:0px;padding:0px;
	width:40%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
table.tablewidth40{
left:150px;
width:40%;
}

table.tablewidth50{
left:150px;
width:50%;
}

table.tablewidth60{
left:150px;
width:60%;
}

table.tablewidth70{
left:150px;
width:70%;
}

table.tablewidth80{
left:150px;
width:80%;
}

table.tablewidth90{
left:150px;
width:90%;
}


table.tablewidth100{
left:150px;
width:100%;
}

span {
font-family: 'Verdana';
color: #000000;
font-size: 17px;

}
