/* CSS Document */
table.tbl1 {
	border-color:navy;
	background-color:#339933;
	color:white;
	font-size: 20px;	
	
}

a:link, a:visited {
	color:            white;
	background-color: #339933;
	text-decoration: none;
	font-size: 20px;	
}

a:hover {
    color:            yellow;
    background-color: #339933;
}

div.ortala{
padding-top: 100px;
padding-left:350px;
padding-bottom:100px;
}
