.tabl25 {
    padding:          0;
    margin:           0 auto;
    border-collapse:  collapse;
    border:           1px solid #333;
    font:             0.9em "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    color:            #000;
    background-color: #bcd0e4;
    /* background:      #bcd0e4 url("widget-table-bg.jpg") top left repeat-x ; */
    width:            20%;
}

.tabl25 th, .tabl25 td {
    border:           1px dotted #666;
    padding:          0.5em;
    text-align:       left;
    color:            #632a39;
    background-color: #bcd0e4;
}

.tabl25 th[scope=col] {
    color:            #000;
    background-color: #8fadcc;
    text-transform:   uppercase;
    font-size:        0.9em;
    border-bottom:    2px solid #333;
    border-right:     2px solid #333;
}

.tabl25 th + th[scope=col] {
    color:            #fff;
    background-color: #7d98b3;
    border-right:     1px dotted #666;
}

.tabl25 th[scope=row] {
    background-color: #b8cfe5;
    border-right:     2px solid #333;
    color:            #632a39;
}

.tabl25 tr.alt th, .tabl25 tr.alt td {
    color:            #2a4763;
    background-color: #b8cfe5;
}

.tabl25 tr:hover th[scope=row], .tabl25 tr:hover td {
    background-color: #632a2a;
    color:            #fff;
}

