/* CSS Document b20.5.2-uyg-1.css*/

table.tabl25 {

	border : 3px solid blue;
	
	border-bottom : 3px solid black;
				
	border-collapse : collapse;
	
	margin : 0 auto;
	
	font : 0.92em/2em Verdana,Arial,Helvetica,sans-serif;
				
	color : black;
	
	background-color : window;
	
	width : 30%;

}

tr {

	border : 3px solid blue;

}

tbody {

	padding-top : 4%;
	padding-bottom : 2%;
	}

col {

	border : 3px solid blue;

}

tr.son {

	border-bottom : 3px solid blue;

}
