/* CSS Document b20.4.4-uyg-1.css*/

.outarea {
	position:relative;
	left : 300px;
}
.outbox {
	border: 3px groove darkred; 
	font : italic bolder 30px/30px Verdana;
	color : red; 
}
.buttonrack {
	position:relative;
	left : 600px;
}
.startbuttonready {
	background-color : #00C100; border-left-color:
	color:#ffffff;
}
.stopbuttoneady {
	background-color:#FF3366;
	color:#ffffff;
}
.resetbutton{
	background-color:#FF9966;
	color:#ffffff;
}
