   ul#navigation li {
       list-style-type: none;
       display: block;
       width: 8em;
       float: bottom;
       text-align: center;
       font-family: "Lucida Grande", sans-serif;
       height: 3em;
       color: inherit;
       background-color: red;
       padding :10px 20px 0 20px;
   }
   
   ul#navigation li a {
       display: block;
       padding: .8em .5em .5em .5em;
       text-decoration: none;
       background-color: yellow;
       color: inherit;
   }
   
   ul#navigation li:first-child {
       -webkit-border-top-left-radius: .5em;
       -moz-border-radius-topleft: .5em;
       border-top-left-radius: .5em;
       -webkit-border-bottom-left-radius: .5em;
       -moz-border-radius-bottomleft: .5em;
       border-bottom-left-radius: .5em;
   }
   
   /*And similarly for the last child list item*/
   ul#navigation li:last-child {
       -webkit-border-top-right-radius: .5em;
       -moz-border-radius-topright: .5em;
       border-top-left-radius: .5em;
       -webkit-border-bottom-right-radius: .5em;
       -moz-border-radius-bottomright: .5em;
       border-bottom-right-radius: .5em;
   }
   
   #navigation li {
       background-color: #c9c9c9;
       background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#848484), color-stop(0.6, #a1a1a1));
   }
         
   #navigation li:hover {
     background-color: #333333;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#4c4c4c), color-stop(0.6, #474747));
   }
   
   #navigation li:hover a {
     color: navy;/*#e8e8e8;*/
     background-color : orange;
     text-shadow: 1px 1px 0px #353535;
   }