.cssnav {
    position:          relative;
    font-family:       arial, helvetica, sans-serif;
    background-image:  url("../images/overbtn1.jpg");
    background-repeat: no-repeat;
    white-space:       nowrap;
    display:           block;
    width:             211px;
    height:            44px;
    margin:            0;
    padding:           0;
}

.cssnav a {
    display:          block;
    font-size:        11px;
    width:            211px;
    height:           44px;
    float:            left;
    color:            black;
    text-decoration:  none;

}

.indent {
    text-align:  justify;
    text-indent: 20px;
    padding:     0 10px;
    font:        14px Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.nonindent {
    font:       14px Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-align: justify;
    padding:    0 10px;
}

/* css tabs */
ul#navbottom {
    list-style-type: none;
    padding:         50px 200px 50px 0;
}

ul#navbottom li#index {
    float:   left;
    font:    11px Verdana,Geneva,Arial,Helvetica,sans-serif;
    /* Adjust the length of the top and bottom of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 0px 7px 0;
}

.cssnav img {
    width:  211px;
    height: 44px;
    border: 0;
}

* html a:hover {
    visibility: visible;
}

.cssnav a:hover img {
    visibility: hidden;
}

.cssnav span {
    position:   absolute;
    left:       30px;
    top:        15px;
    margin:     0px;
    padding:    0px;
    cursor:     pointer;
    width:      149px;
    height:     14px;
    text-align: center;
}

ul#navbottom li#sayfa {
    float:   left;
    font:    11px Verdana,Geneva,Arial,Helvetica,sans-serif;
    /* Adjust the length of the top and bottom of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 0px 7px 0;
}

ul#navbottom li#denge {
    /* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
    padding-left:     5px;
    float:            left;
    color:            black;
}

ul#navbottom li#navbottom-sonlama {
    background-color: Window;
    padding:          7px 0px 7px 0;
    color:            black;
    float:            none;
}

#navbottom a, #navbottom a:link {
    /* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding:          7px 10px 7px 10px;
    color:            #FFFFCE;
    background-color: #488649;
    text-decoration:  none;
}

#navbottom a:hover {
    color:            #468649;
    background-color: #D1EAD3;
    text-decoration:  none;
}

.pl-50 {
    padding-left: 50px;
}

/* table selectors */
table.layout-top {
    border:        none;
    text-align:    center;
    padding-right: 1%;
}

td.top1text {
    color:            red;
    text-align:       center;
    background-color: window;
    width:            75%;
    font:             bold 16px Verdana,Geneva,Arial,Helvetica,sans-serif;
}

td.top1previous {
    text-align: center;
    width:      15%;
}

td.top2text {
    font-family:      16px Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-align:       center;
    color:            red;
    background-color: window;
    padding:          0 20% 0 2%;
    vertical-align:   top;
}

td.top2previous {
    font:             10px Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-align:       center;
    color:            blue;
    background-color: window;
}

td.top3text {
    font-family:      17px Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-align:       center;
    color:            navy;
    background-color: window;
    padding:          0 10% 0 2%;
    vertical-align:   top;
}

ul#topnavlist1 {
    list-style-type: none;
    left:            10px;
    padding-bottom:  20px;
}

ul#topnavlist1 li#ilk {
    float:       left;
    font-family: 11px Verdana,Geneva,Arial,Helvetica,sans-serif;
    /* Adjust the length of the top and bottom of the tab here */
    /* top right bottom left (clockwise) */
    padding:     7px 0px 7px 0px;
}

ul#topnavlist1 li#orta {
    font-family: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    /* Adjust the length of the top and bottom of the tab here */
    /* top right bottom left (clockwise) */
    padding:     7px 0px 7px 0px;
    float:       left;
}

ul#topnavlist1 li#son {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:   11px;
    /* Adjust the length of the top and bottom of the tab here */
    /* top right bottom left (clockwise) */
    padding:     7px 0px 7px 0px;
    float:       left;
}

ul#topnavlist1 li#atla1 {
    /* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 5px;
    float:        left;
}

ul#topnavlist1 li#atla2 {
    /* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    padding-left: 5px;
    float:        left;
}

ul#topnavlist1 li#topnavlist1-sonlama {
    padding:          7px 10px 7px 10px;
    background-color: Window;
    color:            black;
    float:            none;
}

#topnavlist1 a, #topnavlist1 a:link {
    /* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding:          7px 10px 7px 10px;
    color:            white;
    background-color: #FF6347;
    text-decoration:  none;
}

#topnavlist1 a:hover {
    color:            white;
    background-color: blue;
    text-decoration:  none;
}

.dikeyTab-50 {
    padding: 50px 0 0;
}

/*  */
