/* CSS Document */
/* CSS Document */
/* background-color values 
set to Window forces the 
background-color for the rule 
be the same of the background-color 
of the document body */
/* <![CDATA[ */
@charset "windows-1254";
ul.navlist {
    list-style-type:  none;
    margin:           0px;
    padding:          0px;
    font-family:      Verdana, Arial, Helvetica, sans-serif;
    font-size:        17px;
    color:            inherit;
    background-color: #0043C2;
}
/* =-=-=-=-=-=-=-[Menu Four]-=-=-=-=-=-=-=- */
#genel-menu4 {
    width:        200px;
    /* width of the tabs */
    border-style: solid;
    /* solid solid none solid; */
    border-width: 0px;
    /*position:     relative;
    top:          20px;
    left:         20px;
    float:        left;*/
		padding-top : 25px;
		padding-left :100px;
}
#genel-menu4 li a {
    height:          32px;
    text-decoration: none;
}
#genel-menu4 li a:link, #genel-menu4 li a:visited {
    color:            #FEC949;
    /* font color of the text in tabs */
    display:          block;
     background-color : #339999;
    /*background-color: #0043C2;*/
    /* background color of the tabs */
    padding:          8px 0px 0px 20px;
    /* internal width from the text 
     top right botom left
     left: distance of the beginning of text from
      the right edge of css-tabs */
}
#genel-menu4 li a:hover {
    color:            #032AA6;
    /* contrast color of the text */
     background-color : red;
    /*background-color: #FEC949;*/
    /* contrast color of the tabs */
    padding:          8px 0px 0px 20px;
}
#genel-menu4 li a:active {
    color:            #FF4500;
    background-color: yellow;
    /* very short life of display */
    padding:          8px 0px 0px 20px;
}
genel-menu4 li#genel-menu4-sonlama {
    background-color: Window;
    padding:          7px 0px 7px 0px;
    color:            black;
   /* float:            left;*/
}