/* Created using Style Master from Western Civilisation CSS1 { 2 2 558 62: 5; }
 */
/*Created Using Bradsoft TopStyle Pro 2.5*/


@charset "iso-8859-9";
a:link, a:visited { color: blue;}
a:active { color: green; }
a:focus { color: lime; }
a:hover { color: #FF0000;}
div.dtd-fragment { background-color: #eee; border: none; width: 100%; }
img.bottomindex{ border: none; background-color: #FFFDF9;}
img.bottomprevious{ border: none; background-color: #FFFDF9;position: relative; left: 100px; }
img.bottomnext{ border: none; background-color: #FFFDF9;position: relative; left: 230px; }
img.toplogo {border:none;/* background-color: #FFFDF9;*/ width:384px;height:140px;}
img.topindex{ border: none;	background-color: #FFFDF9; position: absolute; left: 600px; top: 25px; width: 40px; height: 40px;}
img.topprevious{ border: none;background-color: #FFFDF9;position: absolute;left: 644px; top: 25px;width: 40px;height: 40px;}
img.topnext{border:none;background-color: #FFFDF9;position: absolute;left: 688px;top: 25px;width: 40px;height: 40px;}
img.indexlogo{border:none;width:275px;height:161px;}
img.nextpage{border:none;background-color: #FFFDF9;position: absolute;left: 648px;top: 25px;width: 40px;height: 40px;}
img.x{ background-color: #FFFDF9; border: none; }
span.attributes { color: teal; }
span.bar { color: navy; font-family: arial,helvetica,sans-serif; font-size: 0.9em; }
span.cover-tags, a:hover { color: red; }
span.elements { color: brown; }
span.levels { color: #CC9900; }
table.navtablebottom {margin-left: 10%;padding-left:0px;padding-right:0px;width:700px;margin-top:30px;}
table.navtabletop { margin-left: 0; padding-left:0px; padding-right:0px; width: 100%; }
.navline-bottom {margin-left:50px;margin-top:30px;padding:0px;}
table.spec{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.9em; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.chapter { color: red; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 2em; margin-bottom: 4%; text-align: center; }
.chapter-title { color: Blue; font-family: "Trebuchet MS",sans-serif; font-size: 1.8em; text-align: center; }
.green { border-left-style: none; color: green; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; /*First at CSS3/Values/s1.htm */ margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; }
.indent { border-left-color: navy; border-left-style: solid; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; text-indent: 8%; }
.indent-borderless { border-left-style: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; text-indent: 8%; }
.list{ border-left-style: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 125%;  list-style-position: outside; /*padding-left=4%; */ margin-bottom: 2%; margin-left: 10%; margin-top: 2%; text-align: justify; text-indent: 5mm; }
.magenta { color: #FF33FF; /*First at CSS3/Values/s1.htm */ }
.navy { border-left-style: solid; color: navy; font-family: "Courier New", Courier, monospace; font-size: 0.9em; line-height: 125%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: left; }
.nonindent { border-left-color: navy; border-left-style: solid; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; }
.nonindent-borderless { border-left-style: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; }
.pagenum { color: Purple; font-family: cursive,sans-serif; font-size: 1.2em; text-align: right; }
.red { border-left-style: none; color: red; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; /*First at CSS3/Values/s1.htm */ margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: justify; }
.subheading { color: brown; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 150%; margin-bottom: 2%; margin-left: 1%; margin-top: 2%; padding-left: 2%; text-align: left; text-decoration: none; }
.title { color: navy; font-family: cursive,sans-serif; font-size: 2em; font-weight: normal; text-align: center; }
.title-left { color: navy; font-family: cursive,sans-serif; font-size: 1.4em; font-weight: normal; text-align: left; }
.supported{color:red;position:relative;left:10%;}
.unsupported{color:green;position:relative;left:10%;}
.property{position:relative;left:10%;font-weight:bold;font-style:italic;margin-left:20px;}
body { background-color: #FFFDF9;/*font-size-adjust:0.58;*/}
