table {
    text-align:     center;
    padding-bottom: 10px;
}
caption {
    padding-top:    10px;
    padding-bottom: 10px;
    font-family:    Verdana, Arial, Helvetica, sans-serif;
    font-size:      16px;
    color:          navy;
}
tbody {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:   16px;
}
tr.ilk {
    text-align: center;
    color:      #993333;
}
