@charset "utf-8";

/* CSS Document */
/* Original JSStyle.css */

/* body selectors */

body {
	line-height: 25px;
	letter-spacing: 1.5px;
}

/* anchor selectors */

a:link, a:visited {
	color: blue;
	background-color: window;
}
a:hover {
	color: red;
	background-color: window;
}
a:active {
	color: green;
	background-color: window;
}
a:focus {
	color: lime;
	background-color: window;
}


/* paragraph selectors */


.chapter {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	background-color: window;
	text-align: center;
}


.subheading {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #B43501;
	text-align: left;
	background-color: window;
	padding: 0px 10px 0px 10px;
}

.cursive-blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: blue;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}
.cursive-maroon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: maroon;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}

.cursive-red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	color: red;
	background-color: Window;
	padding-left: 25px;
	padding-bottom: 5px;
}

  ul#navigation li {
    list-style-type: none;
    display: block;
    width: 6em;
    float: left;
    text-align: center;
    font-family: "Lucida Grande", sans-serif;
    height: 4.1em;
    color: inherit;
    background-color: red;
    padding : 10px 1px 0 1px;
    line-height: normal !important;
    letter-spacing:normal !important;
    position: relative;
    
}
  ul#navigation li a.x {
    display: block;
    padding: 0.8em .3em 1.5em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li a.xx {
    display: block;
    padding: 0.8em .3em 0.35em .3em;
    text-decoration: none;
    background-color: yellow;
    color: inherit;
}
  ul#navigation li:first-child {
    -webkit-border-top-left-radius: .5em;
    -moz-border-radius-topleft: .5em;
    border-top-left-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
    -moz-border-radius-bottomleft: .5em;
    border-bottom-left-radius: .5em;
}

/*And similarly for the last child list item*/

  ul#navigation li:last-child {
    -webkit-border-top-right-radius: .5em;
    -moz-border-radius-topright: .5em;
    border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: .5em;
    -moz-border-radius-bottomright: .5em;
  border-bottom-right-radius: .5em;
}

    #navigation li:hover {
    background-color:blue;
    color: green;
    
}

.title-center {
	color: navy;
	background-color: window;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
}

.verticalTab-5 {
	padding: 5px 0 0 0;
}
.verticalTab-10 {
	padding: 10px 0 0 0;
}
.verticalTab-25 {
	padding: 25px 0 0 0;
}
.verticalTab-50 {
	padding: 50px 0 0 0;
}
.verticalTab-75 {
	padding: 75px 0 0 0;
}

.verticalTab-100 {
	padding: 100px 0 0 0;
}
.pl-10 {
	padding-left: 10px;
}
.pl-25 {
	padding-left: 25px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-75 {
	padding-left: 75px;
}
.pl-100 {
	padding-left: 100px;
}
.pl-125 {
	padding-left: 125px;
}
.pl-150 {
	padding-left: 150px;
}
.pl-175 {
	padding-left: 175px;
}
.pl-200 {
	padding-left: 200px;
}
.pl-225 {
	padding-left: 225px;
}
.pl-250 {
	padding-left: 250px;
}
.pl-300 {
	padding-left: 300px;
}
.pl-400 {
	padding-left: 400px;
}
.pl-500 {
	padding-left: 500px;
}
.pl-600 {
	padding-left: 600px;
}

.indent {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	text-indent: 20px;
	padding: 0px 10px 0px 10px;
}



/* css tabs */
ul#navbottom {
	list-style-type: none;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}
ul#navbottom li#index {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#sayfa {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama1 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama2 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama3 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#denge {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge2 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge3 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#navbottom-sonlama {
	background-color: Window;
	padding: 7px 0px 7px 0px;
	color: black;
	float: none;
}
#navbottom a, #navbottom a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: #FFFFCE;
	background-color: #488649;
	text-decoration: none;
}
#navbottom a:hover {
	color: #468649;
	background-color: #D1EAD3;
	text-decoration: none;
}