@charset "utf-8";

html {
	overflow-y: scroll;
	background: transparent;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 10px;
	letter-spacing: 2.5px;
}

a:active {color:blue;}
a:hover {color:red;}
a:focus {color:green;}
a:active :hover {color:red;}
a:active :link {color:blue;}
a:active :visited {color:blue;}

.c2 {
	color: red;
	font: 30px Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 1% 0 1.5% 2%;
	padding:1% 0 2% 2%;

}

.chapter {
	background: transparent;
	color: red;
	font: 32px Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
	text-align: center;
	margin: 1% 0 1% 0;
	letter-spacing: 5px;
}

.title {
	background: transparent;
	color: #FF00FF;
	font: 30px Verdana, Helvetica, Arial, sans-serif;
	text-align: justify;
	margin: 1% 0 1% 0;
	letter-spacing: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.pagenum {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: purple;
	background-color: window;
	text-align: right;
	padding-right: 10px;
}


li {
	padding: 0;
	background: transparent;
	border: 0;
	margin: 1% 0 1% 2%;
	outline: 0;
	vertical-align: baseline;
}
li.position1 {
	background-color: transparent;
	color: red;
	font: 21px Verdana, Helvetica, Arial, sans-serif;
	margin: 1% 0% 1% 8%;
	list-style-type: disc;
}
li.position2 {
	background-color: transparent;
	color: blue;
	font: 20px Verdana, Helvetica, Arial, sans-serif;
	margin: 1% 0% 1% 10%;
	list-style-type: disc;
}
li.position3 {
	background-color: transparent;
	color: green;
	font: 19px Verdana, Helvetica, Arial, sans-serif;
	margin: 1% 0% 1% 12%;
	list-style-type: square;
}
li.position4 {
	background-color: transparent;
	color: maroon;
	font: 18px Verdana, Helvetica, Arial, sans-serif;
	margin: 1% 0% 1% 14%;
	list-style-type: disc;
}
li.position5 {
	background-color: transparent;
	color: indianred;
	font: 17px Verdana, Helvetica, Arial, sans-serif;
	margin: 1% 0% 1% 16%;
	list-style-type: square;
}

p.headline-1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: red;
	position: relative;
	left: 150px;
	font-size: 30px;
	top: 10px;
	width: 500px;
	background-color: transparent;
}
p.headline-2 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: red;
	background-color: transparent;
	font-size: 22px;
	position: relative;
	left: 300px;
	top: 20px;
	width: 250px;
	font-style: normal;
}

p.navigation-box {
	text-align: right;
}
p.c2 a {
	color: red;
}

/* css tabs */
ul#navbottom {
	list-style-type: none;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}
ul#navbottom li#index {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#sayfa {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama1 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama2 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#kodlama3 {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px; /* Adjust the length of the top and bottom of the tab here */ /* top right bottom left (clockwise) */;
	padding: 7px 0px 7px 0px;
}
ul#navbottom li#denge {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge1 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge2 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#denge3 {
	/* Adjust the gap of the consecutive tabs from here */
    /* Please enter the same background-color value of body */
    background-color: Window;
	padding-left: 5px;
	float: left;
	color: black;
}
ul#navbottom li#navbottom-sonlama {
	background-color: Window;
	padding: 7px 0px 7px 0px;
	color: black;
	float: none;
}
#navbottom a, #navbottom a:link {
	/* Adjust the length of the right and left of the tab here */
    /* top right bottom left (clockwise) */
    padding: 7px 10px 7px 10px;
	color: #FFFFCE;
	background-color: #488649;
	text-decoration: none;
}
#navbottom a:hover {
	color: #468649;
	background-color: #D1EAD3;
	text-decoration: none;
}
