@charset "utf-8";
/* CSS Document Chapter2page3.css*/

#table-A{
  border-style: solid;
  border-collapse: collapse;
  position: relative;
  left: 15%;
  padding: 5% 0% 5% 0%;
  border-color:red !important;
  border-width: medium;
  margin-left:0%;
  margin-right:auto;
  font-family:100%/2% Verdana, Helvetica, Arial, sans-serif;
  width:70%;
  }

#table-A caption{
  color: red;
  padding-top: 2%;
  padding-bottom: 2%;
}

#table-A thead th{
  border-style: solid;
  border-width: medium;
  border-color: red;
  padding:2%;
  color:navy;
  background-color: #CCFFFF;
  }

#table-A  tbody td{
  border-style: solid;
  border-width: medium;
  border-color: navy;
  color:navy;
  background-color:lightgoldenrodyellow;
  padding:2%;
  }
  
  
#table-B {
  border-style: solid;
  border-collapse: collapse;
  position: relative;
  left: 0%;
  padding: 5% 0% 5% 0%;
  border-color:red !important;
  border-width: medium;
  margin-left: 10%;
  margin-right: 0%;
  font-family: 18px/20px Verdana, Helvetica, Arial, sans-serif;
  width: 80%;
}

#table-B caption{
  color: red;
  padding-top: 2%;
  padding-bottom: 2%;
}

#table-B tbody tr td{
  border-style: solid;
  border-width: medium;
  border-color: navy;
  color: navy;
  background-color: lightgoldenrodyellow;
  padding: 1% 0% 1% 2%;
}

#table-B thead th{
  border-style: solid;
  border-width: medium;
  border-color: red;
  padding: 0%;
  color: navy;
  background-color: #CCFFFF;
}

#x{
  width:10%;
}
#y{
  width:60%;
}#z{
  width:30%;
}

#table-C {
  border-style: solid;
  border-collapse: collapse;
  position: relative;
  left: 0%;
  padding: 5% 0% 5% 0%;
  border-color:red !important;
  border-width: medium;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 18px/20px Verdana, Helvetica, Arial, sans-serif;
  width: 100%;
}

#table-C caption{
  color: red;
  padding-top: 2%;
  padding-bottom: 2%;
}

#table-C tbody tr td{
  border-style: solid;
  border-width: medium;
  border-color: navy;
  color: navy;
  background-color: lightgoldenrodyellow;
  padding: 2% 0% 1% 2%;
}

#table-C thead tr th{
  border-style: solid;
  border-width: medium;
  border-color: red;
  padding: 2% 0% 2% 0%;
  color: navy;
  background-color: #CCFFFF;
}

#T{
  width:40%;
}
#U{
  width:40%;
}#V{
  width:20%;
}
}#W{
  width:20%;
}

}#WW{
  width:20%;
}
#table-D{
  border-style: solid;
  border-collapse: collapse;
  position: relative;
  left: 15%;
  padding: 5% 0% 5% 0%;
  border-color:red !important;
  border-width: medium;
  margin-left:0%;
  margin-right:auto;
  font-family:100%/2% Verdana, Helvetica, Arial, sans-serif;
  width:70%;
  }

#table-D caption{
  color: red;
  padding-top: 2%;
  padding-bottom: 2%;
}

#table-D thead th{
  border-style: solid;
  border-width: medium;
  border-color: red;
  padding:2%;
  color:navy;
  background-color: #CCFFFF;
  }

#table-D  tbody td{
  border-style: solid;
  border-width: medium;
  border-color: navy;
  color:navy;
  background-color:lightgoldenrodyellow;
  padding:2%;
  }
  #tableDcol1{
	 width:33.33%;
  }
  #tableDcol2{
	 width:33.33%;
  }
  #tableDcol3{
	 width:33..33%;
  }