@charset "utf-8";

.c2 {
  color: red;
  font: 130% Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 1% 0 1.5% 2%;
}

.chapter {
  background: transparent;
  color: red;
  font: 170% Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 1% 0 1% 0;
  letter-spacing: 5px;
}

.level1 {
  list-style-type: disc;
  color: red;
  background-color: transparent;
  font: 110% Verdana, Helvetica, Arial, sans-serif;
  line-height: 50px;
}

.level2 {
  list-style-type: circle;
  color: blue;
  background-color: transparent;
  font: 90% Verdana, Helvetica, Arial, sans-serif;
  line-height: 30px;
  margin-left: 50px;
  list-style-position: inside;
}

.level3 {
  list-style-type: square;
  color: green;
  background-color: transparent;
  font: 70% Verdana, Helvetica, Arial, sans-serif;
  line-height: 25px;
}

.level4 {
  list-style-type: circle;
  color: teal;
  background-color: transparent;
  font: 80% Verdana, Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.level5 {
  list-style-type: disc;
  color: aqua;
  background-color: transparent;
  font: 08% Verdana, Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.title {
  background: transparent;
  color: navy;
  font: 400 150% Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 1% 0 1% 0;
  letter-spacing: 5px;
}

a:active {
  background: transparent;
  color: green;
}

a:focus {
  background: transparent;
  color: lime;
}

a:hover {
  background: transparent;
  color: red;
}

a:hover, a:active {
  outline: none;
}

a:link, a:visited {
  background: transparent;
  color: blue;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

html {
  overflow-y: scroll;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: none;
  max-width: 100%;
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

img.banner {
  border: none;
  height: 40px;
  width: 173px;
}

li {
  padding: 0;
  background: transparent;
  border: 0;
  margin: 1% 0 1% 2%;
  outline: 0;
  vertical-align: baseline;
}

li.position1{
  background-color: transparent;
  color: red;
  font: 110% Verdana, Helvetica, Arial, sans-serif;
  margin: 2% 0% 0% 8%;
  list-style-type: disc;
}

li.position2{
  background-color: transparent;
  color: blue;
  font: 105% Verdana, Helvetica, Arial, sans-serif;
  margin: 2% 0% 0% 10%;
  list-style-type: disc;
}

li.position3{
  background-color: transparent;
  color:green;
  font: 100% Verdana, Helvetica, Arial, sans-serif;
  margin: 2% 0% 0% 12%;
  list-style-type: square;
}
li.position4{
  background-color: transparent;
  color:maroon;
  font: 95% Verdana, Helvetica, Arial, sans-serif;
  margin: 2% 0% 0% 14%;
  list-style-type: disc;
}
li.position5{
  background-color: transparent;
  color:indianred;
  font: 85% Verdana, Helvetica, Arial, sans-serif;
  margin: 2% 0% 0% 16%;
  list-style-type: square;
}
p.banner-box{
  float: left;
  text-align: left;
}

p.headline-1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: red;
  position: relative;
  left: 150px;
  font-size: 30px;
  top: 10px;
  width: 500px;
  background-color: transparent;
}

p.headline-2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: red;
  background-color: transparent;
  font-size: 22px;
  position: relative;
  left: 300px;
  top: 20px;
  width: 250px;
  font-style: normal;
}

p.navigation-box{
  text-align: right;
}
p.c2 a {
	color:red;
}

.home {
	border:   none;
	position:absolute;
	left :-15%;
	top:65%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:navy;
}
img.navpad {
    width:         40px;
    height:        40px;
    border-top:    10px solid white ;
    border-bottom: 10px solid white ;
    border-left:   0px solid white ;
    border-right:  0px solid white ;
}
div.navtop-twobuttons {
    position: absolute;
    top:      10%;
    left:       85%;
}

.forward {
	border:   none;
	position:absolute;
	left :55%;
	top:65%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:navy;
}

