@charset "utf-8";

#bottomline {
  margin: 5% 0 5% 0;
  text-align: center;
}

#bottomline #index {
  -moz-border-radius: 2%;
  border-radius: 2%;
}

#bottomline #next {
  -moz-border-radius: 2%;
  border-radius: 2%;
}

#bottomline #prev {
  -moz-border-radius: 2%;
  border-radius: 2%;
}

#bottomline a, #navbottom a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background-color: #CD5C5C;
  color: #FFFFCE;
/* background-color: #488649; */
  padding: 1% 1% 1% 1%;
  text-decoration: none;
}

#bottomline a:hover {
  background-color: #D1EAD3;
  color: #468649;
  text-decoration: none;
}

#center-button a, #center-button a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background: #6666CC;
  color: white;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

#center-button a:hover {
  background: #FF9966;
  color: navy;
  text-decoration: none;
}

#center-navlist a, #center-navlist a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background: #6666CC;
  color: white;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

#center-navlist a:hover {
  background: #FF9966;
  color: navy;
  text-decoration: none;
}

#content {
  border: thin solid navy;
  margin-left: 20%;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  font: 100% Verdana, Helvetica, Arial, sans-serif;
}

#header {
  border: thin solid navy;
  background-color: transparent;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

#leftmenu {
  background-color: transparent;
  border: thin solid navy;
  float: left;
  padding: 2%;
  width: 15%;
}

#navbottom a, #navbottom a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background: #CD5C5C;
  color: #FFFFCE;
/* background-color: #488649; */
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

#navbottom a:hover {
  background: #D1EAD3;
  color: #468649;
  text-decoration: none;
}

#topnavlist1 a, #topnavlist1 a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background: #FF6347;
  color: white;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

#topnavlist1 a:hover {
  background: blue;
  color: white;
  text-decoration: none;
}

#topnavlist2 a, #topnavlist2 a:link {
/* Adjust the length of the right and left of the tab here */
/* top right bottom left (clockwise) */
  background: #FF6347;
  color: white;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}

#topnavlist2 a:hover {
  background: blue;
  color: white;
  text-decoration: none;
}
.att {
  background: transparent;
  color: #6600CC;
}

.att-100 {
  background: transparent;
  color: #6600CC;
  padding-left: 100px;
}

.att-125 {
  background: transparent;
  color: #6600CC;
  padding-left: 125px;
}

.att-165 {
  background: transparent;
  color: #6600CC;
  padding-left: 165px;
}

.att-200 {
  background: transparent;
  color: #6600CC;
  padding-left: 200px;
}

.att-400 {
  background: transparent;
  color: #6600CC;
  padding-left: 400px;
}

.att-450 {
  background: transparent;
  color: #6600CC;
  padding-left: 460px;
}

.att-480 {
  background: transparent;
  color: #6600CC;
  padding-left: 480px;
}

.att-50 {
  background: transparent;
  color: #6600CC;
  padding-left: 50px;
}

.att-75 {
  background: transparent;
  color: #6600CC;
  padding-left: 75px;
}

.blue {
  background: transparent;
  color: blue;
  margin: 1% 0% 1% 0%;
  text-align: justify;
}
.ch {
	color: red;
	background: transparent;
	padding: 0;
	margin: 1% 0 1% 0;
	text-align: left;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 160%;
	font-weight: 400;
}
.chapter {
  background: transparent;
  color: red;
  font-size: 170%;
  text-align: center;
  margin: 1% 0 1% 0;
}

.indent {
  background-color:transparent;
  padding-top: 10px;
  text-align: justify;
  text-indent: 2%;
  margin: 1% 0% 1% 0%;
  letter-spacing: inherit;
}

.op-25 {
  background: transparent;
  color: #990000;
  padding-left: 2%;
}
.character {
  color: red;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clickable, label, input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

.comm {
  background: transparent;
  color: green;
  font-style: italic;
}

.comm-100 {
  background: transparent;
  color: green;
  padding-left: 100px;
}

.comm-125 {
  background: transparent;
  color: green;
  padding-left: 125px;
}

.comm-150 {
  background: transparent;
  color: green;
  padding-left: 150px;
}

.comm-25 {
  background: transparent;
  color: green;
  padding-left: 25px;
}

.comm-50 {
  background: transparent;
  color: green;
  padding-left: 50px;
}

.comm-75 {
  background: transparent;
  color: green;
  padding-left: 75px;
}

.comment {
  color: green;
}

.cursive-blue {
  background: transparent;
  color: blue;
  margin: 1% 0% 1% 0%;
}

.cursive-green {
  background: transparent;
  color: green;
  margin: 1% 0% 1% 0%;
}

.cursive-maroon {
  background: transparent;
  color: maroon;
  margin: 1% 0% 1% 0%;
}

.cursive-red {
  background: transparent;
  color: red;
  margin: 1% 0% 1% 0%;
}

.elm {
  background: transparent;
  color: #900;
}

.elm-100 {
  background: transparent;
  color: #900;
  padding-left: 100px;
}

.elm-25 {
  background: transparent;
  color: #900;
  padding-left: 25px;
}

.elm-50 {
  background: transparent;
  color: #900;
  padding-left: 50px;
}

.elm-75 {
  background: transparent;
  color: #900;
  padding-left: 75px;
}

.examples-maroon {
  background: transparent;
  color: maroon;
  font: 105% "Courier New", monospace;
  line-height: 122%;
  margin-bottom: 0.6em;
  margin-left: 3.4em;
  padding: 0px 10px 0px 10px;
  text-align: justify;
}

.green {
  background: transparent;
  color: green;
  margin: 1% 0% 1% 0%;
  text-align: justify;
}

.id {
  background: transparent;
  color: blue;
  font-size: 15px;
}

.ie6 input {
  vertical-align: text-bottom;
}

.subheading {
  color:#B43501;;
   background: transparent;
  font-size:125%;
  font-weight:400;
  padding: 0%;
  margin: 1% 0 1% 0;
  text-align: left;
}

.subsub {
  background: transparent;
  color: green;
  padding: 0%;
  margin: 1% 0 1% 0;
  font-size:115%;
  text-align: left;
}


.subsubsub {
  background: transparent;
  color:#FF6600;
  padding: 0%;
  margin: 1% 0 1% 0;
  font-size:115%;
  text-align: left;
}

.subsubsubsub {
  background: transparent;
  color: maroon;
 padding: 0%;
  margin: 1% 0 1% 0;
  font-weight: 400;
  font-size:115%;
  text-align: left;
}
.title {
  background: transparent;
  color: navy;
  font-weight: 400;
  font-size: 150%;
  text-align: center;
  margin: 1% 0 1% 0;
}


body {
  font: 100% Verdana, Helvetica, Arial, sans-serif;
  color: black;
  background: transparent;
  border: 0;
  margin: 0% 5% 0% 1%;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.7em;
  letter-spacing: 0.12em;
}

body div, span, iframe, h4, h5, h6, p, abbr, address, cite, dfn, em, var, b, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, menu, time, audio, video {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: none;
  max-width: 100%;
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

p.banner-box{
  float: left;
  text-align: left;
}

p.navigation-box{
  text-align: right;
}

pre {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 1% 0% 1% 0%;
  white-space: pre-line;
  background: transparent;
  border: 0;
  vertical-align: baseline;
}
   .java1-currentline { color: black !important;  background-color: transparent ;}
        .java1-documentation{ color: #008080 !important; font-style: italic;   background-color: transparent;}
    .java1-invalidsymbol { color: #FF00FF !important;  background-color: transparent;}
    .java1-matchedbraces { color: maroon !important;  background-color: transparent; }
    .java1-number { color: #black !important;   background-color: transparent;}
    .java1-rightedge { color: #C0C0C0 !important;  background-color: transparent; }
    .java1-selection { color: #FFFFFF !important;  background-color: transparent; }
    .java1-space { color: #000000; background-color: transparent ; padding-left:0.5%;} 
     .java1-comment{
  background-color: transparent;
  color: green !important;
}

.java1-identifier{
  color: #0000 !important;
  background-color: transparent;
}

.java1-reservedword{
  background-color: transparent;
  color: blue !important;
}


.java1-string{
  background-color: transparent;
  color: red !important;
}

.java1-symbol{
  background-color: transparent;
  color: maroon !important;
}


/* line numbers */


.keyw {
  background: transparent;
  color: blue;
}

.keyw-10 {
  background: transparent;
  color: blue;
  padding-left: 10px;
}

.keyw-100 {
  background: transparent;
  color: blue;
  padding-left: 100px;
}

.keyw-125 {
  background: transparent;
  color: blue;
  padding-left: 125px;
}

.keyw-150 {
  background: transparent;
  color: blue;
  padding-left: 150px;
}

.keyw-165 {
  background: transparent;
  color: blue;
  padding-left: 165px;
}

.keyw-175 {
  background: transparent;
  color: blue;
  padding-left: 175px;
}

.keyw-200 {
  background: transparent;
  color: blue;
  padding-left: 200px;
}

.keyw-225 {
  background: transparent;
  color: blue;
  padding-left: 225px;
}

.keyw-25 {
  background: transparent;
  color: blue;
  padding-left: 25px;
}

.keyw-50 {
  background: transparent;
  color: blue;
  padding-left: 50px;
}

.keyw-55 {
  background: transparent;
  color: blue;
  padding-left: 55px;
}

.keyw-75 {
  background: transparent;
  color: blue;
  padding-left: 75px;
}

.keyword-directive {
  color: blue;
}

.ln {
  color: #000;
  font-style: normal;
}

.maroon {
  background: transparent;
  color: maroon;
  margin: 1% 0% 1% 0%;
  text-align: justify;
}

.navy {
  background: transparent;
  color: blue;
  margin: 1% 0% 1% 0%;
  text-align: justify;
}

.nonindent {
  background-color:transparent;
  padding-top: 10px;
  text-align: justify;
  margin: 1% 0% 1% 0%;
  letter-spacing: inherit;
}

.num {
  color: black;
  font-size: 15px;
}

.op {
  background: transparent;
  color: maroon;
}

.op-100 {
  background: transparent;
  color: #900;
  padding-left: 100px;
}

.op-125 {
  background: transparent;
  color: #900;
  padding-left: 125px;
}

.op-150 {
  background: transparent;
  color: #900;
  padding-left: 150px;
}

.op-25 {
  background: transparent;
  color: #900;
  padding-left: 25px;
}

.op-5 {
  background: transparent;
  color: #900;
  padding-left: 5px;
}

.op-50 {
  background: transparent;
  color: #900;
  padding-left: 50px;
}

.op-75 {
  background: transparent;
  color: #900;
  padding-left: 75px;
}

.pagecenter {
  text-align: center;
}

.pl-10 {
  padding-left: 10px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-200 {
  padding-left: 200px;
}

.pl-225 {
  padding-left: 225px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-250 {
  padding-left: 250px;
}

.pl-300 {
  padding-left: 300px;
}

.pl-400 {
  padding-left: 400px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-500 {
  padding-left: 500px;
}

.pl-600 {
  padding-left: 600px;
}

.pl-75 {
  padding-left: 75px;
}

.red {
  background: transparent;
   color: red;
  font-style: italic;
  margin: 1% 0% 1% 0%;
}

.str {
  color: #FF6633;
  font-size: 100%;
  background: transparent;
}

.str-100 {
  background: transparent;
  color: #FF6633;
  font-size: 15px;
  padding-left: 100px;
}

.str-200 {
  background: transparent;
  color: #FF6633;
  font-size: 15px;
  padding-left: 200px;
}

.str-25 {
  background: transparent;
  color: #FF6633;
  font-size: 15px;
  padding-left: 25px;
}

.str-50 {
  background: transparent;
  color: #FF6633;
  font-size: 15px;
  padding-left: 50px;
}

.str-75 {
  background: transparent;
  color: #FF6633;
  font-size: 15px;
  padding-left: 75px;
}

.title-left {
  background: transparent;
  color: navy;
  font-size: 125%;
  font-weight:400;
  padding: 0;
  margin: 1% 0 1% 0;
  text-align: left;
}

.verticaltab-10 {
  padding: 10px 0 0 0;
}

.verticaltab-25 {
  padding: 25px 0 0 0;
}

.verticaltab-5 {
  padding: 5px 0 0 0;
}

.verticaltab-50 {
  padding: 50px 0 0 0;
}
/* --------manolov----- */

.yellow-back{
  background-color: yellow;
}

a:active {
  background: transparent;
  color: green;
}

a:focus {
  background: transparent;
  color: lime;
}

a:hover {
  background: transparent;
  color: red;
}

a:hover, a:active {
  outline: none;
}

a:link, a:visited {
  background: transparent;
  color: blue;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

body div, span, iframe, h4, h5, h6, p, abbr, address, cite, dfn, em, var, b, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, menu, time, audio, video {
  background: transparent;
  border: 0;
  font: 100% Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
/* [disabled]vertical-align: baseline; */
}

button {
  overflow: visible;
  width: auto;
  margin: 0;
}

code, kbd, samp {
  font: 100% monospace, sans-serif;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

col {
  border: 1px solid navy;
}

dd, dl {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 1% 0% 1% 0%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

del {
  text-decoration: line-through;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

div.navtop {
  position: absolute;
  right: 10px;
  top: 15px;
}

div.navtop-twobuttons {
  position: absolute;
  right: 3px;
  top: 10px;
}

h1 {
  font-size: 200%;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

h2 {
  font-size: 160%;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

h3 {
  font-size: 120%;
  background: transparent;
  border: 0;
  margin: 1% 0% 1% 0%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1% 0% 1% 0%;
  padding: 0;
}

html {
  overflow-y: scroll;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
	border: none;
	max-width: 100%;
	background: transparent;
	font-size: 100%;
	margin: 0;
	/* [disabled]outline: 0; */
	padding: 0;
	vertical-align: baseline;
}

img.banner {
  border: none;
/* height: 40px;
  width: 173px; */
}

img.navpad {
  border-bottom: 10px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-top: 10px solid white;
  height: 40px;
  width: 40px;
}

input{
  vertical-align: middle;
  font: 100% sans-serif;
  color: #333;
  margin: 0;
}

input.erase {
  background: red;
  color: white;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
}

input.save {
  background: green;
  color: white;
  font-size: 14px;
  text-align: center;
}

ins {
  background: #fcd700;
  color: #000;
  text-decoration: none;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

li {
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0 0 0 30px;
  outline: 0;
  vertical-align: baseline;
}

mark {
  background: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

object, embed {
  max-width: 100%;
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

p {
  font-size:100%;
  line-height: 160%;
  background: transparent;
  border: 0;
  margin: 1% 0% 1% 0%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  letter-spacing: 2px;
}

p.banner-box{
  float: left;
  text-align: left;
}

p.navigation-box{
  text-align: right;
}

p.navigation-box{
  text-align: right;
}

pre {
	font-size:100%;
	margin: 1% 0% 1% 0%;
	white-space: pre-line;
	background: transparent;
	border: 0;
	 padding:0
 	outline: 0;
	vertical-align: baseline;
	line-height:2em;
}

select, textarea {
  font: 100% sans-serif;
  color: #333;
  margin: 0;
}

small {
  font-size: 85%;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

strong, th {
  font-weight: bold;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  background: transparent;
  border: 0;
  margin: 1% 0% 1% 0%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  background: transparent;
  border: 0;
  margin: 1% 0% 1% 0%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

ul#center-button {
  list-style: none;
  padding-top: 10px;
}

ul#center-button li#border {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  float: left;
  padding-left: 50px;
}

ul#center-button li#cb-finalizing {
  background: transparent;
  color: black;
  float: none;
  padding: 7px 10px 7px 10px;
}

ul#center-button li#one {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 250px;
}

ul#center-button li#two {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#center-navlist {
  list-style: none;
  padding-bottom: 10px;
  padding-left: 375px;
  padding-top: 10px;
  position: relative;
}

ul#center-navlist li {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#center-navlist li#cn-finalizing {
  background: transparent;
  color: black;
  float: none;
  padding: 7px 10px 7px 10px;
}

ul#center-navlist li#gap {
/* Adjust the gap here */
  float: left;
  padding-left: 50px;
}

ul#navbottom {
  list-style: none;
  padding: 50px 0px 20px 600px;
}

ul#navbottom li#balance {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  background: transparent;
  color: black;
  float: left;
  padding-left: 5px;
}

ul#navbottom li#balance1 {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  background: transparent;
  color: black;
  float: left;
  padding-left: 5px;
}

ul#navbottom li#coding {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#navbottom li#index {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#navbottom li#navbottom-ending {
  background: transparent;
  color: black;
  float: none;
  padding: 7px 0px 7px 0px;
}

ul#navbottom li#page {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist1 {
  left: 10px;
  list-style: none;
  padding-bottom: 20px;
}

ul#topnavlist1 li#end {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist1 li#first {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist1 li#jump1 {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  float: left;
  padding-left: 5px;
}

ul#topnavlist1 li#jump2 {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  float: left;
  padding-left: 5px;
}

ul#topnavlist1 li#middle {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist1 li#topnavlist1-ending {
  background: transparent;
  color: black;
  float: none;
  padding: 7px 10px 7px 10px;
}

ul#topnavlist2 {
  left: 10px;
  list-style: none;
  padding-bottom: 20px;
}

ul#topnavlist2 li#jump1 {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  float: left;
  padding-left: 8px;
}

ul#topnavlist2 li#jump2 {
/* Adjust the gap of the consecutive tabs from here */
/* Please enter the same background-color value of body */
  float: left;
  padding-left: 5px;
}

ul#topnavlist2 li#last {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 10px 7px 10px;
}

ul#topnavlist2 li#primary {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist2 li#secondly {
  float: left;
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  padding: 7px 0px 7px 0px;
}

ul#topnavlist2 li#topnavlist2-ending {
  background: transparent;
  color: black;
  float: none;
  padding: 7px 10px 7px 10px;
}

ul.list {
  margin: 2% 0% 2% 0%;
	padding: 2px 0px 2px 0px;
  line-height: 20px;
}

ul.listnomarker {
  list-style: none;
  margin: 1% 0% 1% 0%;
	padding: 2px 0px 2px 0px;
  line-height: 20px;
}
list{
	padding: 2px 0px 2px 0px;
	line-height:20px;
}